/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
  }
  
  /* Header styles */
  header {
    background-color: #d4cbcb;
    color: #060505;
    padding: 20px;
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    background-color: rgb(255, 196, 3);
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #3d2121;
    color: #f1f1f1;
    text-decoration: none;
    
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  /*  */
  